<%- include('../includes/head.ejs') %>
<div class="card border-dark mb-3 login-card shadow">
    <div class="card-header">
        <div class="logo"><img src="/public/images/ssm_logo256.png" /></div>
    </div>
    <div class="card-body">
        <h4 class="card-title">Login to Dashboard</h4>
        <%if(errorMessage != ""){%>
        <div class="alert alert-danger"><%=errorMessage%></div>
        <%}%>
        <form class="form-horizontal signup-form" method="post" action="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <fieldset>
                <div class="row form-group required">
                    <label class="col-12 control-label" for="email"
                        >Email Address:</label
                    >
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-at"></i>
                            </span>
                            <input
                                id="email"
                                name="email"
                                placeholder=""
                                class="form-control input-md"
                                type="email"
                            />
                        </div>
                    </div>
                </div>

                <div class="row form-group required">
                    <label class="col-12 control-label" for="password"
                        >Password:</label
                    >
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input
                                id="password"
                                name="password"
                                placeholder=""
                                class="form-control input-md"
                                type="password"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-success login-btn">
                            Login To Dashboard
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="row mt-3 text-center">
            <div class="col-12">
                <p>
                    Not got an account setup up yet?<br />
                    Create a new account to get started for <b>free!</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/signup">
                    <button class="btn btn-success login-btn">
                        Sign Up for free!
                    </button></a
                >
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>
