<%- include('../includes/head.ejs') %>
<div class="card border-dark mb-3 login-card shadow">
  <div class="card-header">
    <div class="logo"><img src="/public/images/ssm_logo256.png" /></div>
  </div>
  <div class="card-body">
    <h4 class="card-title">Sign Up For SSM Cloud</h4>
    <div class="error-content"><%=errorMessage%></div>
    <form class="form-horizontal signup-form" method="post" action="">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <fieldset>
        <h6>Account Details:</h6>
        <p>
          Your SSM cloud account contains your users, agents and api
          keys.
        </p>
        <div class="row form-group required">
          <label class="col-12 control-label" for="accountName">Account Name:</label>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fa-solid fa-clipboard-list"></i>
              </span>
              <input id="accountName" name="accountName" placeholder="" class="form-control input-md" type="text" autofocus />
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <h6 class="mt-3">User Details:</h6>
        <p>
          This is where you will create your first user to login and
          will be attached to your account.
        </p>
        <div class="row form-group required">
          <label class="col-12 control-label" for="email">Email Address:</label>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
              <input id="email" name="email" placeholder="" class="form-control input-md" type="email" />
            </div>
          </div>
        </div>

        <div class="row form-group required">
          <label class="col-12 control-label" for="password">Password:</label>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
              <input id="password" name="password" placeholder="" class="form-control input-md" type="password" />
            </div>
          </div>
        </div>
        <div class="row form-group required">
          <label class="col-12 control-label" for="confirmPassword">Confirm Password:</label>
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
              <input id="confirmPassword" name="confirmPassword" placeholder="" class="form-control input-md" type="password" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-success login-btn">
              Sign Up
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<%- include('../includes/footer.ejs') %>