<div class="card border-secondary mb-3 shadow bg-glass">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        <h5><%=agent.agentName%> - Backups</h5>
      </div>
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <input type="text" name="" id="" placeholder="Search Backups" class="form-control backup-search">
      </div>
    </div>

  </div>
  <div class="card-body">

    <div style="max-height:400px; overflow-y: auto; overflow-x: hidden;">
      <div class="row pe-3">
        <%agent.backups.reverse().forEach(backup=>{%>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
          <%- include("../includes/backup-card.ejs", {backup})%>
        </div>
        <%})%>

      </div>
    </div>
  </div>
</div>