</div>

<footer class="page-footer font-small blue bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 - 2022
        Copyright:
        <a
            href="https://github.com/mrhid6/SatisfactoryServerManager"
        > Refined R&D</a>
        MIT License.
    </div>
    <!-- Copyright -->

</footer>
