<div id="sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark flex-column">
        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard"
                ><img src="/public/images/ssm_logo64.png" alt=""
            /></a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Dashboard"
                    >
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/servers"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Servers"
                    >
                        <i class="fas fa-server"></i>
                        <span>Servers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/mods"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Mods"
                    >
                        <i class="fas fa-pencil-ruler"></i>
                        <span>Mods</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/logs"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Log Files"
                    >
                        <i class="fas fa-file-alt"></i>
                        <span>Logs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/saves"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Save Files"
                    >
                        <i class="fas fa-save"></i>
                        <span>Saves</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/backups"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Backup Files"
                    >
                        <i class="fas fa-folder-open"></i>
                        <span>Backups</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/dashboard/account"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Account"
                    >
                        <i class="fas fa-user-shield"></i>
                        <span>Account</span>
                    </a>
                </li>

                <li class="nav-item mt-auto nav-item-bottom">
                    <a
                        class="nav-link"
                        href="https://github.com/mrhid6/SatisfactoryServerManager/wiki"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Docs"
                        target="_blank"
                    >
                        <i class="fas fa-book"></i>
                        <span>Docs</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
