<div id="sidebar">
  <nav class="navbar navbar-expand-lg navbar-dark flex-column">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard"><img class="mt-2" src="/public/images/ssm_logo_new_256.svg" alt="" width="64px" /></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/servers" data-bs-toggle="tooltip" data-bs-placement="right" title="Servers">
            <i class="fas fa-server"></i>
            <span>Servers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/account" data-bs-toggle="tooltip" data-bs-placement="right" title="Account">
            <i class="fas fa-user-shield"></i>
            <span>Account</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/integrations" data-bs-toggle="tooltip" data-bs-placement="right" title="Integrations">
            <i class="fa-solid fa-arrows-turn-to-dots"></i>
            <span>Integrations</span>
          </a>
        </li>

        <li class="nav-item mt-auto nav-item-bottom">
          <a class="nav-link" href="/docs" data-bs-toggle="tooltip" data-bs-placement="right" title="Docs" target="_blank">
            <i class="fas fa-book"></i>
            <span>Docs</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>