<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card border-secondary mb-3 bg-glass bg-glass-blue">
      <div class="card-header">
        <a href="/dashboard/download/log?agentid=<%=agent._id%>&type=Agent" class="btn btn-primary float-end">
          <i class="fas fa-download"></i> SSM Log File
        </a>
        <h5>SSM Log</h5>
      </div>
      <div class="card-body">
        <div class="log-viewer">
          <% 
            let logInfo = logs.find(l=>l.type == "Agent")
            
            if(logInfo != null){
                const logArray = logInfo.snippet.split('\n').reverse()
                if(logArray.length>0){
                    logArray.forEach(line=>{%>
          <p><%=line%></p>

          <%})}else{%>
          <p>No log entries for this log type.</p>
          <%}}%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card border-secondary mb-3 bg-glass bg-glass-blue">
      <div class="card-header">
        <a href="/dashboard/download/log?agentid=<%=agent._id%>&type=FactoryGame" class="btn btn-primary float-end">
          <i class="fas fa-download"></i> Satisfactory Log File
        </a>
        <h5>Satisfactory Log</h5>
      </div>
      <div class="card-body">
        <div class="log-viewer">
          <% 
          logInfo = logs.find(l=>l.type == "FactoryGame")
          if(logInfo != null){
                const logArray = logInfo.snippet.split('\n').reverse()
                if(logArray.length>0){
                    logArray.forEach(line=>{%>
          <p><%=line%></p>

          <%})}else{%>
          <p>No log entries for this log type.</p>
          <%}}%>
        </div>
      </div>
    </div>
  </div>
</div>