<div class="row">
  <div class="col-12">
    <div class="card border-secondary mb-3 bg-glass">
      <div class="card-header d-flex flex-col">
        <h5 class="flex-grow-1">Map</h5>
      </div>
      <div class="card-body">
        <div id="playerMap" style="height:calc(100vh - 200px)"></div>
      </div>
    </div>
  </div>
</div>