{{define "includes/account/users"}}
<div class="card2">
    <div class="hd"><h5>Users</h5></div>
    <div class="bd">
        <div id="account-users-wrapper" class="acct-list"></div>
    </div>
</div>
{{end}}