<%- include('./includes/head-main.ejs') %>

<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="card border-danger" style="width: 400px">
        <div class="card-header">
            <h4>500 Server Error</h4>
        </div>
        <div class="card-body"><%=errorMessage%></div>
    </div>
</div>
