html,
body {
    height: 100%;
}

body {
    background: #1d1d1d url("/public/images/logonbg.png") fixed 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
}

.main-container {
    min-height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-control {
    font-size: 13px;
}

.input-group-text {
    background: #086e99;
    color: #fff;
    font-size: 15px;
}

.btn-primary {
    background-color: #086e99;
    border-color: #054966;
    padding: 8px 12px;
    font-size: 15px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #0b92cc !important;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000cc !important;
    box-sizing: border-box !important;
}

.login-card .card-header {
    position: relative;
    height: 40px;
    padding: 0;
}

.login-card .card-header .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.login-card .card-header .logo img {
    width: 180px;
}

.login-card .card-title {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.login-card .signup-heading {
    font-weight: 500;
    padding-bottom: 3px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.login-card .form-group {
    margin-bottom: 5px;
}

.login-card label {
    line-height: 29px;
    margin: 0;
    font-size: 13px;
}

.login-card .error-content {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: darkred;
    background: pink;
    margin-bottom: 10px;
}

.login-card .error-content span {
    padding: 5px 0;
}

.login-card .btn {
    padding: 5px 8px;
    font-size: 15px;
    margin-top: 10px;
    background-color: #0caaed;
    border-color: #086e99;
    padding: 8px 12px;
    font-weight: bold;
    color: #fff;
}

.login-card .btn:hover {
    background-color: #0b92cc;
}

.login-card .pass-wrapper {
    width: 100%;
    height: 22px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#token {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 15px;
}

.card-header {
    background-color: #0b92cc;
}

.bg-glass {
    background: #0b92cc33;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-color: #636363 !important;
}
