{{define "includes/components/add-integration-form"}}

{{$globalEventTypes := .globalEventTypes}}

<form action="/dashboard/integrations/add" method="post" class="add-notification-form int-form">
    {{ .csrfField }}
    <label for="name" class="fld-lab">Integration Name</label>
    <input class="field w-100 mb-3" type="text" name="name" id="name" value="">

    <label for="type" class="fld-lab">Integration Type</label>
    <select name="type" id="type" class="field w-100 mb-3">
        <option value="0">Webhook</option>
        <option value="1">Discord</option>
    </select>

    <label for="url" class="fld-lab">Integration URL</label>
    <input class="field w-100 mb-3" type="text" name="url" id="url" value="">

    <label class="fld-lab">Selected Event Types</label>
    <div class="event-types-pills tag-wrap mb-3"></div>

    <label class="fld-lab">Add Event Types</label>
    <div class="input-group mb-3">
        <select name="sel_add_event_type" id="sel_add_event_type" class="field flex-grow-1">
            {{range $i, $e := $globalEventTypes}}
                <option value="{{$e}}">{{$e}}</option>
            {{end}}
        </select>
        <button class="icobtn add-event-type" aria-label="Add event type"><i class="fas fa-plus"></i></button>
    </div>

    <button class="btn2 w-100"><i class="fas fa-plus"></i> Add Integration</button>
</form>

{{end}}
