{{define "includes/components/integration-card"}}
{{$integration:=.integration}}

<a class="int-row" href="/dashboard/integrations/{{OIDtoString $integration.ID}}">
    <span class="int-icon">
        {{if eq $integration.Type 0}}<i class="fa-solid fa-plug"></i>
        {{else if eq $integration.Type 1}}<i class="fa-brands fa-discord"></i>{{end}}
    </span>
    <span class="int-name">{{$integration.Name}}</span>
    <span class="int-url mono">{{$integration.Url}}</span>
    <span class="tag">{{len $integration.EventTypes}} events</span>
    <span class="int-go"><i class="fa-solid fa-chevron-right"></i></span>
</a>

{{end}}
