{{define "includes/public/nav"}}
<div class="pnav">
  <nav class="navbar navbar-expand-lg">
    <div class="wrap pnav-in">
      <a class="pbrand" href="/">
        <img src="/public/images/ssm_logo_new_256.svg" height="40px"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="https://discord.gg/Vt8Rt2Vsqf">Discord</a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/SatisfactoryServerManager/SSMCloud">GitHub</a></li>
          <li class="nav-item"><a class="nav-link" href="/docs">Docs</a></li>
        </ul>
        <div class="pnav-cta">
          {{if .IsLoggedIn}}
          <a class="btn2p" href="/dashboard">Dashboard</a>
          {{else}}
          <a class="btn2p ghost" href="/auth/login">Log in</a>
          <a class="btn2p" href="/auth/login">Sign up</a>
          {{end}}
        </div>
      </div>
    </div>
  </nav>
</div>
{{end}}