{{define "pages/dashboard/server"}}
{{template "includes/dashboard/head" .}}

<body>
    <div id="viewport" class="minimal">
        {{template "includes/dashboard/nav" .}}
        <div id="content">
            <div class="container-fluid">
                <!-- BODY -->
                <div class="page-container" data-page="dashboard">
                    {{template "includes/dashboard/page-header" .}}

                    {{if not .agent.Config.Version}}
                    <div class="alert alert-warning">Uh Oh looks like this server has not been started before!</div>

                    <div class="row">
                    <div class="col-12 col-md-6">
                    <div class="card border-secondary mb-3 bg-glass">
                        <div class="card-header">
                        <h5>Install Command</h5>
                        </div>
                        <div class="card-body">

                        <p>When running this install script, you will be prompted for the following information:</p>
                        <ul>
                            <li>SSM Url - This is the url that the agent will connect to. By default this will be SSM Cloud, you can enter your hosted SSM cloud url/ip address if needed. </li>
                            <li>API Key: This is the secure api key used for sending data to SSM Cloud</li>
                        </ul>
                        <input type="hidden" id="inp_servername" value="<%=agent.agentName%>">
                            <input type="hidden" id="inp_serverport" value="<%=agent.sfPortNum%>">
                            <input type="hidden" id="inp_servermemory" value="<%=agent.memory/1024/1024/1024%>">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-bs-toggle="tab" href="#windows-install-agent" aria-selected="true" role="tab">Windows</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" href="#linux-install-agent" aria-selected="false" role="tab" tabindex="-1">Ubuntu / Debian</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content server-install-command">
                                <div class="tab-pane fade active show" id="windows-install-agent" role="tabpanel">
                                <h6>Install agent using docker containers (default)</h6>
                                <p>
                                    PS> Invoke-WebRequest
                                    https://tinyurl.com/ssm-agent-install-ps1
                                    -Out install-agent.ps1
                                </p>
                                <p class="docker">PS> <span></span></p>

                                <h6>Install agent instance on local machine</h6>
                                <p>
                                    PS> Invoke-WebRequest
                                    https://tinyurl.com/ssm-agent-standalone-ps1
                                    -Out install-agent-standalone.ps1
                                </p>
                                <p class="standalone">PS> <span></span></p>
                                </div>
                                <div class="tab-pane fade" id="linux-install-agent" role="tabpanel">
                                <h6>Install agent using docker containers (default)</h6>
                                <p>
                                    $> wget -q
                                    https://tinyurl.com/ssm-agent-install-sh
                                    -O install-agent.sh
                                </p>
                                <p class="docker">$> <span></span></p>
                                <h6>Install agent instance on local machine</h6>
                                <p>
                                    $> wget -q
                                    https://tinyurl.com/ssm-agent-standalone-sh
                                    -O install-agent-standalone.sh
                                </p>
                                <p class="standalone">$> <span></span></p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    {{else}}
                        <div class="row server-tabs-header">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#settings" aria-selected="true" role="tab">Settings</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#stats" aria-selected="false" role="tab">Stats</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#map" aria-selected="false" role="tab" tabindex="-1">Map</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#saves" aria-selected="false" role="tab" tabindex="-1">Saves</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#backups" aria-selected="false" tabindex="-1" role="tab">Backups</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#logs" aria-selected="false" tabindex="-1" role="tab">Logs</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#mods" aria-selected="false" tabindex="-1" role="tab">Mods</a>
                                </li>
                            </ul>
                        </div>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active show" id="settings" role="tabpanel">
                                {{template "includes/server/settings" .}}
                            </div>
                            <div class="tab-pane fade" id="stats" role="tabpanel">
                                <%- include('./server/stats.ejs') %>
                            </div>
                            <div class="tab-pane fade" id="map" role="tabpanel">
                                {{template "includes/server/map" .}}
                            </div>
                            <div class="tab-pane fade" id="saves" role="tabpanel">
                                {{template "includes/server/saves" .}}
                            </div>
                            <div class="tab-pane fade" id="backups">
                                {{template "includes/server/backups" .}}
                            </div>
                            <div class="tab-pane fade" id="logs">
                                {{template "includes/server/logs" .}}
                            </div>
                            <div class="tab-pane fade" id="mods">
                                <%- include('./server/mods.ejs') %>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</body>

{{template "includes/dashboard/footer" .}}
{{end}}