<footer class="page-footer font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 - 2024 Copyright:
    <a href="https://github.com/SatisfactoryServerManager/SSMCloud">
      Refined R&D</a>
    MIT License.
  </div>
  <!-- Copyright -->
</footer>