<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SSM Cloud - <%= pageTitle %></title>
  <script defer src="/libraries/jquery/dist/jquery.min.js"></script>
  <script defer src="/libraries/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="/libraries/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
  <script defer src="/libraries/toastr/build/toastr.min.js"></script>

  <script defer src="/libraries/@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script defer src="/libraries/chart.js/dist/chart.umd.js"></script>

  <script defer src="/public/js/bundle.js"></script>

  <link rel="stylesheet" href="/libraries/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/libraries/@fortawesome/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="/libraries/@fortawesome/fontawesome-free/css/fontawesome.min.css" />
  <link rel="stylesheet" href="/libraries/bootstrap4-toggle/css/bootstrap4-toggle.min.css" />
  <link rel="stylesheet" href="/libraries/toastr/build/toastr.min.css" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <link rel="stylesheet" href="/public/css/jquery.steps.css" />
  <link rel="stylesheet" href="/public/css/bootswatch.min.css" />
  <link rel="stylesheet" href="/public/css/master.min.css" />
  <link rel="stylesheet" href="/public/css/main.min.css" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png?v=9B95M7ezK3" />
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png?v=9B95M7ezK3" />
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png?v=9B95M7ezK3" />
  <link rel="manifest" href="/public/images/favicons/site.webmanifest?v=9B95M7ezK3" />
  <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg?v=9B95M7ezK3" color="#5bbad5" />
  <link rel="shortcut icon" href="/public/images/favicons/favicon.ico?v=9B95M7ezK3" />
  <meta name="msapplication-TileColor" content="#2d89ef" />
  <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml?v=9B95M7ezK3" />
  <meta name="theme-color" content="#ffffff" />
</head>

</html>