:root {
    --ssm-bg-colour: #f7f7f7;
    --ssm-text-colour: #000;
    --ssm-text-inverted-colour: #fff;
    --ssm-text-hover-colour: #373737;

    --ssm-sidebar-bg-colour: #f7f7f7;
    --ssm-sidebar-item-active-bg-colour: #ededed;
    --ssm-sidebar-item-text-color: var(--ssm-text-colour);
    --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

    --ssm-btn-bg-colour: #0caaed;
    --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
    --ssm-btn-bg-hover-colour: #0b92cc;
    --ssm-btn-border-colour: #086e99;

    --ssm-card-bg-colour: #fff;
    --ssm-card-header-bg: #eee;
    --ssm-card-border-colour: #0caaed;
    --ssm-card-inner-bg-colour: #fafafa;

    --ssm-input-bg-colour: #fafafa;
    --ssm-input-border-colour: #d4d4d8;

    --ssm-tabs-bg-colour: #eee;
    --ssm-tabs-tab-bg-colour: #ddd;
    --ssm-tabs-tab-border-colour: #ddd;
    --ssm-tabs-tab-bg-hover-colour: #ccc;
    --ssm-tabs-tab-border-hover-colour: #ccc;

    --ssm-log-viewer-bg-colour: #efefef;
    --ssm-log-viewer-border-colour: #ddd;

    --ssm-link-text-colour: #0caaed;
    --ssm-link-text-hover-colour: #0b92cc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ssm-bg-colour: #333;
        --ssm-text-colour: #fff;
        --ssm-text-inverted-colour: #000;
        --ssm-text-hover-colour: #ededed;

        --ssm-sidebar-bg-colour: #111a23;
        --ssm-sidebar-item-active-bg-colour: #1f303f;
        --ssm-sidebar-item-text-color: var(--ssm-text-colour);
        --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

        --ssm-btn-bg-colour: #0b7eb0;
        --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
        --ssm-btn-bg-hover-colour: #0b6991;
        --ssm-btn-border-colour: #08638a;

        --ssm-card-bg-colour: #111a23;
        --ssm-card-header-bg: #1f303f;
        --ssm-card-border-colour: #0b7eb0;
        --ssm-card-inner-bg-colour: #1f303f;

        --ssm-input-bg-colour: #1f303f;
        --ssm-input-border-colour: #0f4778;

        --ssm-tabs-bg-colour: #0f4778;
        --ssm-tabs-tab-bg-colour: #0b7eb0;
        --ssm-tabs-tab-border-colour: #086e99;
        --ssm-tabs-tab-bg-hover-colour: #0b6991;
        --ssm-tabs-tab-border-hover-colour: #0b6991;

        --ssm-log-viewer-bg-colour: #1f303f;
        --ssm-log-viewer-border-colour: #0f4778;

        --ssm-link-text-colour: #0b7eb0;
        --ssm-link-text-hover-colour: #0b6991;
    }

    body {
        background-image: url("/public/images/bgs/Presskit_1920x1080_NoLogo_Dark.webp") !important;
    }
}
@media (prefers-color-scheme: light) {
    .navbar .nav-item:hover a {
        color: var(--ssm-text-inverted-colour);
    }
}

html,
body {
    height: 100%;
}

body {
    background: #1d1d1d url("/public/images/bgs/Presskit_1920x1080_NoLogo.webp")
        fixed 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--ssm-text-colour);
    font-size: 16px;
}

.navbar {
    background-color: var(--ssm-sidebar-bg-colour);
    min-height: 60px;
}

.navbar a {
    color: var(--ssm-sidebar-item-text-color);
    transition: none !important;
}

.navbar a:hover {
    color: var(--ssm-sidebar-item-text-color);
}

.navbar .nav-item {
    border-radius: 8px;
    margin: 0 3px;
    padding: 3px 10px;
}

.navbar .nav-item a {
    font-weight: 600;
}

.navbar .nav-item:first {
    margin: 0 3px 0 0;
}

.navbar .nav-item:hover {
    background-color: var(--ssm-btn-bg-colour);
}

.navbar-toggler {
    position: absolute;
    top: 11px;
    right: 12px;
    border-color: var(--ssm-btn-border-colour);
    background-color: var(--ssm-btn-bg-colour);
}

.navbar-toggler:hover {
    background-color: var(--ssm-btn-bg-hover-colour);
}

.bg-glass {
    background: rgba(100, 100, 100, 0.2);
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-color: #636363 !important;
    color: #fff !important;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bg-glass-blue {
    background: rgba(11, 146, 204, 0.2);
}

.b-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.ssm-logo {
    z-index: 100;
}

.navbar {
    padding: 3px 0;
    border-bottom: 1px solid #636363;
}

.navbar-brand {
    padding: 0;
}

.nav-item a {
    font-size: 16px;
}

.btn-primary {
    background-color: var(--ssm-btn-bg-colour);
    border-color: var(--ssm-btn-border-colour);
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-within {
    background-color: var(--ssm-btn-bg-hover-colour);
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--ssm-sidebar-bg-colour);
    color: var(--ssm-text-colour);
    border-top: 5px solid var(--ssm-btn-bg-colour) !important;
    font-weight: bold;
    height: 56px;
}

.page-footer .footer-copyright {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
}

.page-footer .footer-copyright a,
.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-colour) !important;
}

.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-hover-colour) !important;
}

.map-wrapper {
    width: 100%;
    height: calc(100% - 46px);
    padding: 10px;
    overflow: hidden;
}

#playerMap {
    border-radius: 6px;
}
