{{define "public/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SSM Cloud</title>

        <script
            async
            src="/public/libs/fontawesome/js/fontawesome.min.js"
        ></script>
        <script async src="/public/libs/fontawesome/js/brands.min.js"></script>
        <script async src="/public/libs/fontawesome/js/solid.min.js"></script>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />

        <link
            rel="preload"
            href="/public/libs/fontawesome/css/fontawesome.min.css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <link
            rel="preload"
            href="/public/libs/fontawesome/css/brands.min.css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <link
            rel="preload"
            href="/public/libs/fontawesome/css/solid.min.css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <link
            rel="preload"
            href="/public/css/bootswatch.min.css"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript>
            <link rel="stylesheet" href="/public/css/bootswatch.min.css" />
            <link
                rel="stylesheet"
                href="/public/libs/fontawesome/css/fontawesome.min.css"
            />
            <link
                rel="stylesheet"
                href="/public/libs/fontawesome/css/brands.min.css"
            />
            <link
                rel="stylesheet"
                href="/public/libs/fontawesome/css/solid.min.css"
            />
        </noscript>

        <link rel="preload" href="/public/images/logonbg.webp" as="image" />
        <link
            rel="preload"
            href="/public/images/home_dashboard_preview.webp"
            as="image"
        />
        <link
            rel="preload"
            href="/public/images/home_responsive.webp"
            as="image"
        />
        <link
            rel="preload"
            href="/public/images/home_notifications.webp"
            as="image"
        />

        <meta
            name="description"
            content="Satisfactory Server Manager (SSM) offers a cloud solution to manage all your Satisfactory server in one place"
        />

        <link rel="canonical" href="https://ssmcloud.hostxtra.co.uk" />
        <link rel="stylesheet" href="/public/css/public.min.css" />

        <meta name="HandheldFriendly" content="True" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />
    </head>

    <body>
        {{ template "includes/public/nav" .}}

        <div class="px-4 pt-5 text-center border-bottom bg-glass">
            <img
                src="/public/images/ssm_logo_new_256.svg"
                alt="ssm logo"
                class="ssm-logo"
                loading="lazy"
                width="256px"
                height="160px"
            />
            <div class="col-lg-6 mt-3 mx-auto">
                <p class="lead mb-4">
                    Easily manage and monitor multiple Satisfactory servers with
                    SSM Cloud's user-friendly interface. View player
                    information, access performance metrics, and manage server
                    settings all in one place, whether you're a small community
                    or a large hosting provider
                </p>
                <div
                    class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"
                >
                    <a href="/auth/login">
                        <button
                            type="button"
                            class="btn btn-primary btn-lg px-4 me-sm-3 shadow"
                        >
                            Sign Up For Free
                        </button>
                    </a>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 35vh">
                <div class="container px-5">
                    <img
                        src="/public/images/home_dashboard_preview.webp"
                        class="img-fluid border border-dark rounded-3 shadow-lg mb-4"
                        alt="Example image"
                        width="700"
                        height="600"
                    />
                </div>
            </div>
        </div>
        <div class="b-divider"></div>
        <div class="px-4 border-bottom border-top bg-glass bg-glass-blue">
            <div class="container col-xxl-8 px-4 py-5">
                <div
                    class="row flex-lg-row-reverse align-items-center g-5 py-5"
                >
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img
                            src="/public/images/home_responsive.webp"
                            class="d-block mx-lg-auto img-fluid"
                            alt="Bootstrap Themes"
                            width="600"
                            height="400"
                        />
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">
                            Manage Satisfactory Servers On The Go!
                        </h1>
                        <p class="lead">
                            SSM Cloud is a versatile platform that works
                            seamlessly on multiple devices, including desktops,
                            laptops, tablets, and smartphones. It automatically
                            adapts to the device's screen, allowing you to
                            manage servers and monitor performance on the go.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-divider"></div>
        <div class="px-4 border-bottom border-top bg-glass">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img
                            src="/public/images/home_notifications.webp"
                            class="d-block mx-lg-auto img-fluid"
                            alt="Notifications"
                            width="600"
                            height="400"
                            loading="lazy"
                        />
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3">
                            Get Notifications On Your Servers.
                        </h1>
                        <p class="lead">
                            SSM Cloud offers a comprehensive notification system
                            that enables users to stay informed about server
                            updates, player activity, and other important
                            events. It provides integration with external
                            services like email, webhooks, and Discord which
                            allows real-time notifications to be sent to you.
                        </p>
                        <p class="lead">
                            This ensures that you are informed about server
                            updates, player activity, or when the server has
                            shut down or a new player joins the server. With
                            these integrations, SSM Cloud can provide a
                            convenient and efficient way for you to stay
                            updated.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer font-small">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2020 - 2025 Copyright:
                <a href="https://github.com/SatisfactoryServerManager/SSMCloud">
                    Refined R&D</a
                >
                MIT License.
            </div>
            <!-- Copyright -->
        </footer>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
{{ end }}
