:root {
    --ssm-bg-colour: #f7f7f7;
    --ssm-text-colour: #000;
    --ssm-text-inverted-colour: #fff;
    --ssm-text-hover-colour: #373737;

    --ssm-sidebar-bg-colour: #f7f7f7;
    --ssm-sidebar-item-active-bg-colour: #ededed;
    --ssm-sidebar-item-text-color: var(--ssm-text-colour);
    --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

    --ssm-btn-bg-colour: #0caaed;
    --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
    --ssm-btn-bg-hover-colour: #0b92cc;
    --ssm-btn-border-colour: #086e99;

    --ssm-card-bg-colour: #fff;
    --ssm-card-header-bg: #eee;
    --ssm-card-border-colour: #0caaed;
    --ssm-card-inner-bg-colour: #fafafa;

    --ssm-input-bg-colour: #fafafa;
    --ssm-input-border-colour: #d4d4d8;

    --ssm-tabs-bg-colour: #eee;
    --ssm-tabs-tab-bg-colour: #ddd;
    --ssm-tabs-tab-border-colour: #ddd;
    --ssm-tabs-tab-bg-hover-colour: #ccc;
    --ssm-tabs-tab-border-hover-colour: #ccc;

    --ssm-log-viewer-bg-colour: #efefef;
    --ssm-log-viewer-border-colour: #ddd;

    --ssm-link-text-colour: #0caaed;
    --ssm-link-text-hover-colour: #0b92cc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ssm-bg-colour: #333;
        --ssm-text-colour: #fff;
        --ssm-text-inverted-colour: #000;
        --ssm-text-hover-colour: #ededed;

        --ssm-sidebar-bg-colour: #111a23;
        --ssm-sidebar-item-active-bg-colour: #1f303f;
        --ssm-sidebar-item-text-color: var(--ssm-text-colour);
        --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

        --ssm-btn-bg-colour: #0b7eb0;
        --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
        --ssm-btn-bg-hover-colour: #0b6991;
        --ssm-btn-border-colour: #08638a;

        --ssm-card-bg-colour: #111a23;
        --ssm-card-header-bg: #1f303f;
        --ssm-card-border-colour: #0b7eb0;
        --ssm-card-inner-bg-colour: #1f303f;

        --ssm-input-bg-colour: #1f303f;
        --ssm-input-border-colour: #0f4778;

        --ssm-tabs-bg-colour: #0f4778;
        --ssm-tabs-tab-bg-colour: #0b7eb0;
        --ssm-tabs-tab-border-colour: #086e99;
        --ssm-tabs-tab-bg-hover-colour: #0b6991;
        --ssm-tabs-tab-border-hover-colour: #0b6991;

        --ssm-log-viewer-bg-colour: #1f303f;
        --ssm-log-viewer-border-colour: #0f4778;

        --ssm-link-text-colour: #0b7eb0;
        --ssm-link-text-hover-colour: #0b6991;
    }

    body {
        background-image: url("/public/images/bgs/Presskit_1920x1080_NoLogo_Dark.webp") !important;
    }
}

html,
body {
    height: 100%;
}

body {
    background: #1d1d1d url("/public/images/bgs/Presskit_1920x1080_NoLogo.webp")
        fixed 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--ssm-text-colour);
    font-size: 16px;
}

.main-container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container .row {
    width: 100%;
}

.login-card-wrapper {
    position: relative;
    min-height: 200px;
}

.login-card {
    width: 100%;
    max-width: 450px;
    box-sizing: border-box !important;
    color: #000;
    padding: 10px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.form-control,
.form-control:focus {
    font-size: 15px;
    background: var(--ssm-input-bg-colour);
    border: 1px solid var(--ssm-input-border-colour);
    color: var(--ssm-text-colour) !important;
}

.form-select,
.form-select:focus {
    font-size: 15px;
    background-color: var(--ssm-input-bg-colour);
    border: 1px solid var(--ssm-input-border-colour);
    color: var(--ssm-text-colour) !important;
}

.btn-primary {
    background-color: var(--ssm-btn-bg-colour);
    border-color: var(--ssm-btn-border-colour);
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-within {
    background-color: var(--ssm-btn-bg-hover-colour);
}

.logo {
    position: relative;
    height: 220px;
}

.logo img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
}

.card {
    background: var(--ssm-card-bg-colour) !important;
    border: 0 !important;
    border-bottom: 5px solid var(--ssm-card-border-colour) !important;
    border-radius: 8px !important;
    color: var(--ssm-text-colour);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card .card-title {
    padding-top: 10px;
    text-align: left;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
}

.login-card label {
    line-height: 29px;
    margin: 0;
    font-weight: 600;
}

.login-card .pass-wrapper {
    width: 100%;
    height: 22px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--ssm-sidebar-bg-colour);
    color: var(--ssm-text-colour);
    border-top: 5px solid var(--ssm-btn-bg-colour) !important;
    font-weight: bold;
    height: 56px;
}

.page-footer .footer-copyright {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
}

.page-footer .footer-copyright a,
.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-colour) !important;
}

.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-hover-colour) !important;
}

#token {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 15px;
}

a,
a:link,
a:hover {
    color: var(--ssm-link-text-colour) !important;
}

a:hover {
    color: var(--ssm-link-text-hover-colour) !important;
}
