:root {
    --ssm-bg-colour: #f7f7f7;
    --ssm-text-colour: #000;
    --ssm-text-inverted-colour: #fff;
    --ssm-text-hover-colour: #373737;

    --ssm-sidebar-bg-colour: #f7f7f7;
    --ssm-sidebar-item-active-bg-colour: #ededed;
    --ssm-sidebar-item-text-color: var(--ssm-text-colour);
    --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

    --ssm-btn-bg-colour: #0caaed;
    --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
    --ssm-btn-bg-hover-colour: #0b92cc;
    --ssm-btn-border-colour: #086e99;

    --ssm-card-bg-colour: #fff;
    --ssm-card-header-bg: #eee;
    --ssm-card-border-colour: #0caaed;
    --ssm-card-inner-bg-colour: #fafafa;

    --ssm-input-bg-colour: #fafafa;
    --ssm-input-border-colour: #d4d4d8;

    --ssm-tabs-bg-colour: #eee;
    --ssm-tabs-tab-bg-colour: #ddd;
    --ssm-tabs-tab-border-colour: #ddd;
    --ssm-tabs-tab-bg-hover-colour: #ccc;
    --ssm-tabs-tab-border-hover-colour: #ccc;

    --ssm-log-viewer-bg-colour: #efefef;
    --ssm-log-viewer-border-colour: #ddd;

    --ssm-link-text-colour: #0caaed;
    --ssm-link-text-hover-colour: #0b92cc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ssm-bg-colour: #333;
        --ssm-text-colour: #fff;
        --ssm-text-inverted-colour: #000;
        --ssm-text-hover-colour: #ededed;

        --ssm-sidebar-bg-colour: #111a23;
        --ssm-sidebar-item-active-bg-colour: #1f303f;
        --ssm-sidebar-item-text-color: var(--ssm-text-colour);
        --ssm-sidebar-item-text-hover-color: var(--ssm-text-inverted-colour);

        --ssm-btn-bg-colour: #0b7eb0;
        --ssm-btn-bg-disabled-colour: var(--ssm-btn-border-colour);
        --ssm-btn-bg-hover-colour: #0b6991;
        --ssm-btn-border-colour: #08638a;

        --ssm-card-bg-colour: #111a23;
        --ssm-card-header-bg: #1f303f;
        --ssm-card-border-colour: #0b7eb0;
        --ssm-card-inner-bg-colour: #1f303f;

        --ssm-input-bg-colour: #1f303f;
        --ssm-input-border-colour: #0f4778;

        --ssm-tabs-bg-colour: #0f4778;
        --ssm-tabs-tab-bg-colour: #0b7eb0;
        --ssm-tabs-tab-border-colour: #086e99;
        --ssm-tabs-tab-bg-hover-colour: #0b6991;
        --ssm-tabs-tab-border-hover-colour: #0b6991;

        --ssm-log-viewer-bg-colour: #1f303f;
        --ssm-log-viewer-border-colour: #0f4778;

        --ssm-link-text-colour: #0b7eb0;
        --ssm-link-text-hover-colour: #0b6991;
    }

    body {
        background-image: url("/public/images/bgs/Presskit_1920x1080_NoLogo_Dark.webp") !important;
    }

    .progress {
        background: rgba(255, 255, 255, 0.1) !important;
    }
}

html,
body {
    height: 100%;
}

body {
    color: var(--ssm-text-colour);
    font-size: 16px;
    background: var(--ssm-bg-colour)
        url("/public/images/bgs/Presskit_1920x1080_NoLogo.webp") fixed 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary {
    background-color: var(--ssm-btn-bg-colour);
    border-color: var(--ssm-btn-border-colour);
    padding: 8px 12px;
    font-size: 15px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-within {
    background-color: var(--ssm-btn-bg-hover-colour);
}

.input-group-text {
    background: var(--ssm-btn-bg-colour);
    color: #fff;
    font-size: 15px;
}

.card {
    background: var(--ssm-card-bg-colour) !important;
    border: 0 !important;
    border-bottom: 5px solid var(--ssm-card-border-colour) !important;
    border-radius: 8px !important;
    color: var(--ssm-text-colour);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

.card .card-header {
    background: var(--ssm-card-header-bg) !important;
}

.card.card-inner,
.account-invite-user,
.account-user,
.account-audit-item {
    border: 1px solid var(--ssm-card-border-colour) !important;
    border-bottom: 5px solid var(--ssm-card-border-colour) !important;
    background: var(--ssm-card-inner-bg-colour) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.progress {
    background-color: rgba(0, 0, 0, 0.2);
}

.pagination .page-item.disabled a {
    background-color: var(--ssm-btn-bg-disabled-colour);
}

.pagination .page-item.active a,
.pagination .page-item a:hover {
    background-color: var(--ssm-btn-bg-hover-colour);
}

.pagination .page-item a {
    background-color: var(--ssm-btn-bg-colour);
    cursor: pointer;
}

.pagination .page-item a:focus {
    color: #fff;
}

.text-default {
    color: var(--ssm-text-colour) !important;
}

.bg-primary {
    background-color: var(--ssm-btn-bg-colour) !important;
}

.border-primary {
    border-color: var(--ssm-btn-border-colour) !important;
}

.dropdown-menu {
    background-color: #eee;
    color: #313131;
    font-size: 15px !important;
}

.dropdown-menu .dropdown-item {
    color: #313131;
    font-weight: 700;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #aaa;
}

/* Toggle Styles */

#server-running-loading {
    width: 100%;
    height: 100%;
    background: #4f4f4f;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

#viewport {
    padding-left: 250px;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
    padding-bottom: 55px;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: var(--ssm-sidebar-bg-colour);
}

#sidebar .navbar {
    padding: 0;
    margin: 0;
    height: 100%;
}

#sidebar .navbar-header {
    line-height: 52px;
    text-align: center;
    font-family: "hemihead";
    display: block;
    width: 100%;
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0;
    position: relative;
    height: 140px;
}

#sidebar .navbar-brand {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sidebar .navbar-brand:hover {
    color: #fff;
}

#sidebar .navbar-brand img {
    width: 180px;
}

#sidebar .navbar-toggler {
    position: absolute;
    top: 11px;
    right: 12px;
    border-color: var(--ssm-btn-border-colour);
    background-color: var(--ssm-btn-bg-colour);
}

#sidebar .navbar-toggler:hover {
    background-color: var(--ssm-btn-bg-hover-colour);
}

#sidebar .navbar-collapse {
    width: 100%;
}

#sidebar .navbar-nav {
    width: 100%;
    height: 100%;
    padding: 0 8px 8px 8px;
}

#sidebar .nav-item {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 2px 0;
}

#sidebar .nav-item.active,
#sidebar .nav-item.active:hover {
    border-right: 5px solid var(--ssm-btn-bg-colour);
    background: var(--ssm-sidebar-item-active-bg-colour);
}

#sidebar .nav-item.active a,
#sidebar .nav-item.active:hover a {
    color: var(--ssm-btn-bg-colour);
}

#sidebar .nav-item:hover {
    background-color: var(--ssm-btn-bg-colour);
}

#sidebar .nav-item a {
    color: var(--ssm-sidebar-item-text-color);
    font-size: 25px;
    padding: 10px 20px;
    font-weight: 600;
    transition: none !important;
}

#sidebar .nav-item:hover a {
    color: var(--ssm-sidebar-item-text-hover-color);
}

#sidebar .nav-item.nav-item-bottom a {
    border: 0;
}

#sidebar .nav-item a svg,
#sidebar .nav-item a i {
    margin-right: 10px;
    font-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
}

#viewport #sidebar .nav-item a span {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    height: 22px;
}

#content .container-fluid {
    padding: 0;
}

.main-container {
    padding: 15px 15px 15px 15px;
    min-height: calc(100% - 58.41px);
    overflow: hidden;
    position: relative;
    padding-bottom: 55px;
}

.page-container {
    padding: 0 12px;
}

.page-header {
    padding: 12px 12px 0 12px;
    background-color: var(--ssm-sidebar-bg-colour);
    margin-bottom: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

.profile-btn-group {
    background-color: var(--ssm-btn-bg-colour);
    border: 1px solid var(--ssm-btn-border-colour);
}

.page-header .profile-btn-group .btn {
    background-color: var(--ssm-btn-bg-colour);
    color: var(--ssm-text-colour);
    font-size: 15px !important;
    height: 45px;
    font-weight: bold;
    line-height: 30px !important;
    border: 1px solid var(--ssm-btn-border-colour);
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--ssm-sidebar-bg-colour);
    color: var(--ssm-text-colour);
    border-top: 5px solid var(--ssm-btn-bg-colour) !important;
    font-weight: bold;
    height: 56px;
}

.page-footer .footer-copyright {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.page-footer .footer-copyright a,
.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-colour) !important;
}

.page-footer .footer-copyright a:hover {
    color: var(--ssm-link-text-hover-colour) !important;
}

.custom-range {
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
/* leave above out to not have the non .input-group ranges
   * bordered when invalid or valid
   */

.custom-range.is-invalid,
.was-validated .custom-range:invalid {
    border-color: #dc3545;
}
.custom-range.is-invalid:focus,
.was-validated .custom-range:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.custom-range.is-valid,
.was-validated .custom-range:valid {
    border-color: #28a745;
}
.custom-range.is-valid:focus,
.was-validated .custom-range:valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.input-group > .custom-range {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group > .custom-range {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    background: var(--ssm-input-bg-colour);
    border: 1px solid var(--ssm-input-border-colour);
}
.input-group > .custom-range:focus {
    z-index: 3;
}
.input-group-sm > .custom-range {
    height: calc(1.8125rem + 2px);
    padding: 0 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.input-group-lg > .custom-range {
    height: calc(2.875rem + 2px);
    padding-left: 0 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.input-group > .custom-range:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group > .custom-range:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Style for focusing custom-range when inside an .input-group.
   * Normally only the range thumb has focus styling, but this keeps
   * input-group inputs looking consistent during validation
   */
.input-group .custom-range:focus {
    background-color: var(--ssm-input-bg-colour);
    border-color: var(--ssm-input-border-colour);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control,
.form-control:focus {
    font-size: 15px;
    background: var(--ssm-input-bg-colour);
    border: 1px solid var(--ssm-input-border-colour);
    color: var(--ssm-text-colour) !important;
}

.form-select,
.form-select:focus {
    font-size: 15px;
    background-color: var(--ssm-input-bg-colour);
    border: 1px solid var(--ssm-input-border-colour);
    color: var(--ssm-text-colour) !important;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.btn i {
    font-size: 14px;
}
.badge {
    font-size: 12px;
}

.hidden {
    display: none;
}

#playerMap {
    height: 500px;
    width: 100%;
}

/* Dashboard Page*/

.status-info-card {
    background: #eee;
    width: 100%;
    height: 45px;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #cccccc;
    color: var(--ssm-text-colour);
    padding: 8px 12px;
    position: relative;
    margin-bottom: 8px;
    margin-top: 0;
}

.status-info-card.blue {
    background: var(--ssm-btn-bg-colour);
    border-color: var(--ssm-btn-border-colour);
    color: #fff;
}

.status-info-card.orange {
    background: #e99002;
    border-color: #d18202;
    color: #fff;
}

.status-info-card.green {
    background: #28a745;
    border-color: #24963e;
    color: #fff;
}

.status-info-card .status-info-card-main {
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    display: inline-block;
    margin-right: 10px;
}

.status-info-card .status-info-card-secondary {
    font-size: 14px;
    font-weight: 700;
    line-height: 29px;
    display: inline-block;
}

.status-info-card .status-info-card-icon {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 20px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.25);
}
.page-header .status-info-card {
    width: auto !important;
    float: right;
}
.page-header .status-info-card .status-info-card-icon {
    right: unset;
    left: 12px;
}

.page-header .status-info-card .status-info-card-secondary {
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
}

.server-tabs-header {
    padding: 12px 12px 0 12px;
    background-color: var(--ssm-tabs-bg-colour);
    margin-top: -12px;
    margin-bottom: 12px;
}

.server-tabs-header .nav-link {
    color: var(--ssm-text-colour) !important;
}

.server-tabs-header .nav-link:hover {
    background-color: var(--ssm-tabs-tab-bg-hover-colour);
    border-color: var(--ssm-tabs-tab-border-hover-colour);
    color: var(--ssm-text-colour) !important;
}

.server-tabs-header .nav-link.active {
    background-color: var(--ssm-tabs-tab-bg-colour);
    border-color: var(--ssm-tabs-tab-border-colour);
    color: var(--ssm-text-colour) !important;
}

.server-action-btn {
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
}

.server-action-btn:disabled {
    cursor: not-allowed;
}

.server-action-btn i {
    margin-right: 5px;
}

#cpu-usage,
#ram-usage {
    max-width: calc(100% - 80px);
}

.progress-bar-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    display: inline-block;
}

.circle:last-child {
    position: absolute;
    right: 0;
    top: 0;
    left: unset;
}

.circle strong {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.circle h6 {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

/* Mods Page*/

#sml-install {
    padding: 0 8px;
}

.mod-list .input-group {
    flex-wrap: nowrap !important;
}

.mod-card {
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: row;
}

.mod-card .mod-image {
    position: relative;
}

.mod-card .mod-image a {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.mod-card .mod-image svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mod-card .mod-image svg path {
    stroke: black;
    stroke-width: 40;
}

.mod-card .mod-image:hover a {
    display: block;
}

.mod-card .mod-image img {
    width: 100px;
    height: 100px;
}

.mod-card .mod-buttons {
    width: 80px;
    font-size: 30px;
}

.mod-card .mod-info {
    padding: 12px;
    max-width: calc(100% - 200px);
    overflow: hidden;
    width: 100%;
}

.mod-card .mod-info h4 {
    font-size: 20px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.mod-card .mod-info a {
    color: var(--ssm-text-colour);
    text-decoration: none;
}

.mod-card .mod-info a:hover {
    color: var(--ssm-text-hover-colour);
    text-decoration: underline;
}

/* Logs Page */

.log-viewer,
.server-install-command,
pre {
    max-height: 400px;
    overflow-x: auto;
    background: var(--ssm-log-viewer-bg-colour);
    padding: 6px;
    border: 1px solid var(--ssm-log-viewer-border-colour);
    display: block;
    font-family: var(--bs-font-monospace);
    color: var(--ssm-text-colour);
}

.log-viewer p {
    margin-bottom: 2px;
}

.server-install-tabs {
    background: var(--ssm-tabs-bg-colour);
}

.server-install-tabs .nav-link {
    color: var(--ssm-text-colour) !important;
}

.server-install-tabs .nav-link.active {
    background: var(--ssm-tabs-tab-bg-colour);
    border: 1px solid var(--ssm-tabs-tab-border-colour);
}

.server-install-tabs .nav-link:hover {
    background: var(--ssm-tabs-tab-bg-hover-colour);
    border: 1px solid var(--ssm-tabs-tab-border-hover-colour);
}

/* Settings Page */

.settings-row {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.settings-row > div {
    padding-bottom: 15px;
}

.settings-prop {
    font-size: 15px;
    display: block;
}

.settings-info {
    font-style: italic;
}

#refresh-saves {
    font-size: 13px;
}

#refresh-saves i {
    font-size: 14px;
    margin-right: 3px;
}

#show-sf-password {
    cursor: pointer;
}

.select-save-btn {
    font-size: 13px;
    padding: 5px 12px;
}

/* Bootstrap Toggles*/

.btn.toggle,
.btn.toggle label {
    cursor: pointer;
    margin-bottom: 0 !important;
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, 0.25) solid;
}

/* Modals */

.ssm-modal .info-icon i,
.ssm-modal .info-icon svg {
    font-size: 50px;
}

.ssm-modal i.fa-nonmodal {
    font-size: 14px;
}

.ssm-modal .ul-nowizard {
    padding-left: 20px;
    margin-bottom: 10px;
}

.ssm-modal .ssm-modal-msg {
    font-size: 13px;
    font-weight: bold;
}

.ssm-modal .input-group i,
.ssm-modal .btn i,
.ssm-modal .btn svg {
    font-size: unset;
}

/* Toasts */

#toast-container > .toast {
    opacity: 1;
}

#toast-container > .toast-info:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f129";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container > .toast-info {
    background: #008cba !important;
}

#toast-container > .toast-error:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f12a";
    font-size: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container > .toast-error {
    background: #f04124 !important;
}

#toast-container > .toast-success:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container > .toast-success {
    background: #43ac6a !important;
}

#toast-container > .toast-warning:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f071";
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-container > .toast-warning {
    background: #e99002 !important;
}

#toast-container .toast-message {
    font-size: 12px;
}

.wizard > .steps > ul > li {
    width: 20%;
}

#permissions-accordion h4 {
    position: relative;
    font-size: 14px;
}

#permissions-accordion h4 .form-check-input {
    margin-left: 0px;
    margin-top: unset;
    position: absolute;
    left: 12px;
    top: 10px;
    z-index: 100;
    width: 18px;
    height: 18px;
}

#permissions-accordion h4 button {
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#webhook-events {
    background: #fff;
    border: 1px solid #666;
    padding: 8px 12px;
}

#webhook-events .event_wrapper {
    padding: 0 0 8px 0;
    border-bottom: 1px solid #666;
}

@media (max-width: 1199.98px) {
    .mod-card .mod-info h4 {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    #viewport {
        padding-left: 0 !important;
    }

    #viewport.minimal {
        padding-left: 0 !important;
    }

    #viewport.minimal #sidebar,
    #viewport #sidebar {
        z-index: 1000;
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        margin-left: 0;
        overflow-y: auto;
    }

    #viewport #sidebar .navbar {
        flex-direction: row;
        height: auto;
    }

    #viewport #sidebar .nav-item a span,
    #viewport.minimal #sidebar .nav-item a span {
        display: inline;
    }

    #viewport #sidebar .nav-item a i,
    #viewport.minimal #sidebar .nav-item a i {
        display: inline;
        font-size: 14px;
    }

    #sidebar .nav-item a {
        padding: 8px 12px;
    }

    #sidebar .nav-item a svg {
        font-size: 16px;
        margin-right: 8px;
    }
    #sidebar .nav-item a span {
        font-size: 15px;
    }

    .server-action-btn {
        font-size: 13px;
    }

    .page-header h3 {
        text-align: center;
    }

    .page-header .status-info-card {
        width: 100% !important;
    }

    .mod-card .mod-info {
        max-width: calc(100% - 150px);
    }

    .mod-card .mod-info h4 {
        font-size: 18px;
    }
    .mod-card .mod-info .badge {
        padding: 4px !important;
    }
    .mod-card .mod-buttons {
        width: 50px;
    }
}
