{{define "includes/dashboard/backup-card"}}

<div class="mini backup-card" data-backupname="{{.backup.FileName}}">
  <h6>{{.backup.FileName}}</h6>
  <div class="rows">
    <span><b>Size:</b> {{toBytes .backup.Size}} Bytes</span>
    <span><b>Created:</b> {{formatDatePb .backup.CreatedAt}}</span>
  </div>
  <div class="acts">
    <a class="icobtn" target="_blank" href="/dashboard/download/backup?agentid={{.agent.Id}}&uuid={{.backup.Uuid}}" aria-label="Download backup"><i class="fas fa-download"></i></a>
  </div>
</div>

{{end}}