{{define "includes/dashboard/page-header"}}

<div class="row page-header">
    <div class="d-flex flex-row align-items-center">
        <div class="crumb flex-grow-1">
            <span class="acct-eyebrow">{{.account.AccountName}}</span>
            <h3 class="crumb-title m-0">{{ .pageTitle }}</h3>
        </div>
    </div>
</div>
{{ end }}
