{{define "includes/dashboard/save-card"}}

<div class="mini save-card" data-savename="{{.save.FileName}}">
  <h6>{{.save.FileName}}</h6>
  <div class="rows">
    <span><b>Size:</b> {{toBytes .save.Size}}</span>
    <span><b>Saved:</b> {{formatDatePb .save.CreatedAt}}</span>
  </div>
  <div class="acts">
    <a class="icobtn" target="_blank" href="/dashboard/download/save?agentid={{.agent.Id}}&uuid={{.save.Uuid}}" aria-label="Download save"><i class="fas fa-download"></i></a>
  </div>
</div>

{{end}}