{{define "includes/dashboard/server-card"}}
<div class="col">
  <div class="card mb-2" id="server-card-{{.Id}}">
    <div class="card-header d-flex align-items-center">
      <h5 class="flex-grow-1">{{.AgentName}}</h5>
      <a class="m-0" href="/dashboard/servers/{{.Id}}">
        <button class="btn btn-primary">
          <i class="fas fa-cog"></i>
        </button>
      </a>
    </div>
    <div class="card-body">

    {{$statusText := "Offline"}}
    {{if .Status.Online}} {{$statusText = "Online"}} {{end}}
    {{if .Status.Running}} {{$statusText = "Running"}} {{end}}
    {{if not .Status.Installed}} {{$statusText = "Not Installed"}} {{end}}

        <div class="d-flex flex-column">
            {{$modCount:= (len .ModConfig.SelectedMods)}}
            {{template "includes/dashboard/status-card" (dict "ClassColour" "blue" "ClassID" "status" "Data" $statusText "Icon" "fa-server")}}
            {{template "includes/dashboard/status-card" (dict "ClassColour" "orange" "ClassID" "users" "Title" "Players" "Data" 0 "Icon" "fa-user")}}
            {{template "includes/dashboard/status-card" (dict "ClassColour" "green" "ClassID" "mods" "Title" "Mods" "Data" $modCount "Icon" "fa-pencil-ruler")}}
        </div>

      <hr />
      <label class="mb-1">CPU: </label>
      <div class="position-relative">
        <div class="progress" style="height: 30px" aria-valuenow="{{.Status.Cpu}}" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{.Status.Cpu}}%;"></div>
        </div>
        <div class="text-center position-absolute top-50 start-50 translate-middle">{{RoundTo .Status.Cpu 2}} %</div>
      </div>

      <label class="mb-1 mt-3">RAM: </label>
      <div class="position-relative">
        <div class="progress" style="height: 30px" aria-valuenow="{{.Status.Ram}}" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{.Status.Ram}}%;"></div>
        </div>
        <div class="text-center position-absolute top-50 start-50 translate-middle">{{RoundTo .Status.Ram 2}} %</div>
      </div>
      <hr />

      <div class="d-flex flex-column flex-md-row gap-2">
          <button data-agent-id="{{.Id}}" data-server-action="start" class='btn btn-success server-action-btn flex-fill mt-2 mt-md-0' {{if .Status.Running}}disabled{{end}}><i class="fas fa-play me-1"></i>Start</button>
          <button data-agent-id="{{.Id}}" data-server-action="stop" class='btn btn-warning server-action-btn flex-fill mt-2 mt-md-0' {{if not .Status.Running}}disabled{{end}}><i class="fas fa-stop me-1"></i>Stop</button>
          <button data-agent-id="{{.Id}}" data-server-action="kill" class='btn btn-danger server-action-btn flex-fill mt-2  mt-md-0' {{if not .Status.Running}}disabled{{end}}><i class="fas fa-skull-crossbones me-1"></i>Kill</button>
      </div>
    </div>
  </div>
</div>
{{end}}