{{define "includes/dashboard/status-card"}}
<div class="readout info-card-{{.ClassID}} {{.ClassColour}}">
    <div class="k">{{ if .Title }}{{.Title}}{{else}}Status{{end}}</div>
    <div class="v"><i class="fas {{.Icon}} me-1"></i>{{.Data}}</div>
</div>
{{end}}