{{define "includes/server/backups"}}

<div class="card border-secondary mb-3 shadow bg-glass">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        <h5>Backups</h5>
      </div>
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <input type="text" name="" id="" placeholder="Search Backups" class="form-control backup-search">
      </div>
    </div>

  </div>
  <div class="card-body">

    <div style="overflow-x: hidden;">
      <div class="row pe-3">

        {{if eq (len .agent.Backups) 0}}
        <p>There are currently no backup for this server yet.</p>
        {{end}}

        {{ range .agent.Backups}}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                {{template "includes/dashboard/backup-card" (dict "backup" . "agent" $.agent)}}
            </div>
        {{end}}
      </div>
    </div>
  </div>
</div>

{{end}}