services:
    ssmcloud:
        ports:
            - 3000:3000
        volumes:
            - /home/ssm/frontend:/home/ssm
            - /home/ssm/frontend-data:/SSM/Cloud/data
        restart: unless-stopped
        environment:
            - SSM_BACKEND_URL=http://ssmcloud-backend:3000
            - APP_URL=${APP_URL}
            - AUTHENTIK_CLIENT_ID=${AUTHENTIK_CLIENT_ID}
            - AUTHENTIK_CLIENT_SECRET=${AUTHENTIK_CLIENT_SECRET}
            - AUTHENTIK_URL=${AUTHENTIK_URL}
            - BACKEND_URL=${BACKEND_URL}
            - BACKEND_SECRET_KEY=${BACKEND_SECRET_KEY}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_USER=${REDIS_USER}
            - REDIS_PASS=${REDIS_PASS}
            - APP_MODE=${APP_MODE}
        container_name: ssmcloud
        image: ssmcloud-frontend:latest
        depends_on:
            - ssmcloud-backend
    ssmcloud-backend:
        ports:
            - 3001:3000
            - 50051:50051
        volumes:
            - /home/ssm/backend:/home/ssm
        restart: unless-stopped
        environment:
            - DB_HOST=mongodb
            - DB_PORT=27017
            - DB_DATABASE=ssm
            - DB_USER=ssm
            - DB_PASSWORD=SSMPass
            - SECRET_KEY=${BACKEND_SECRET_KEY}
            - AUTHENTIK_URL=${AUTHENTIK_URL}
            - AUTHENTIK_APPLICATION=${AUTHENTIK_APPLICATION}
            - STORAGE_MINIO_ENDPOINT=${STORAGE_MINIO_ENDPOINT}
            - STORAGE_MINIO_ACCESSKEYID=${STORAGE_MINIO_ACCESSKEYID}
            - STORAGE_MINIO_SECRETKEY=${STORAGE_MINIO_SECRETKEY}
            - STORAGE_MINIO_USESSL=${STORAGE_MINIO_USESSL}
            - STORAGE_MINIO_BUCKET=${STORAGE_MINIO_BUCKET}
            - FLAG_DISABLEPURGEACCOUNTDATA=${FLAG_DISABLEPURGEACCOUNTDATA}
            - FLAG_USEMINIOSTORAGE=${FLAG_USEMINIOSTORAGE}
        container_name: ssmcloud-backend
        image: mrhid6/ssmcloud-backend:latest
        depends_on:
            - mongodb
    mongodb:
        container_name: mongodb
        image: mongo:latest
        restart: always
        command:
            - --storageEngine
            - wiredTiger
            - --auth
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
            - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
        ports:
            - "27017:27017"
        volumes:
            - /home/ssm/db/data:/data/db
            - ./db/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
        env_file: .env
