---
name: Build SSM Cloud Frontend
on:
    push:
        tags:
            - "*"
jobs:
    build-linux:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: "go.mod"
            - name: Install dependencies
              run: go get .
            - name: Build
              run: go build -o ./release/linux/ssmcloud-frontend .
            - run: if [ ! -f ./release/linux/ssmcloud-frontend ]; then exit 1; fi
            - run: mkdir -p ./docker/release >/dev/null && cp ./release/linux/* ./docker/release/.
            - uses: vimtor/action-zip@v1
              with:
                  files: release/linux/ssmcloud-frontend
                  recursive: false
                  dest: SSMCloud-frontend-Linux-amd64.zip
            - uses: actions/upload-artifact@v4
              with:
                  name: ssm-build-linux
                  path: ${{ github.workspace }}/SSMCloud-frontend-Linux-amd64.zip
            - name: Get version
              id: versionnum
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  context: ./docker
                  push: true
                  tags: mrhid6/ssmcloud-frontend:latest , mrhid6/ssmcloud-frontend:v${{ steps.versionnum.outputs.version }}
    build-windows:
        runs-on: self-hosted
        steps:
            - uses: actions/checkout@v4
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: "go.mod"
            - name: Install dependencies
              run: go get .
            - name: Build
              run: go build -o ./release/windows/ssmcloud-frontend.exe .
            - uses: vimtor/action-zip@v1
              with:
                  files: release/windows/ssmcloud-frontend.exe
                  recursive: false
                  dest: SSMCloud-frontend-Windows-x64.zip
            - uses: actions/upload-artifact@v4
              with:
                  name: ssm-build-win64
                  path: ${{ github.workspace }}/SSMCloud-frontend-Windows-x64.zip
    deploy:
        needs:
            - build-linux
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Get version
              id: versionnum
              run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
            - name: Create and deploy release
              uses: OctopusDeploy/create-release-action@v3
              with:
                  api_key: ${{ secrets.OCTOPUSSERVERAPIKEY }}
                  server: ${{ secrets.OCTOPUSSERVERURL }}
                  space: ${{ secrets.OCTOPUSSERVER_SPACE }}
                  project: ssmcloud-frontend
                  release_number: ${{ steps.versionnum.outputs.version }}
                  ignore_existing: true
            - name: Deploy Release
              uses: OctopusDeploy/deploy-release-action@v3
              with:
                  api_key: ${{ secrets.OCTOPUSSERVERAPIKEY }}
                  server: ${{ secrets.OCTOPUSSERVERURL }}
                  space: ${{ secrets.OCTOPUSSERVER_SPACE }}
                  project: "ssmcloud-frontend"
                  release_number: ${{ steps.versionnum.outputs.version }}
                  environments: |
                      Dev
